postAndBackgroundColor = rgb(0, 32, 116)
textColorForBackgroundAndPost = rgb(224, 240, 255)
codeText = "Courier New", Courier, monospace


html,body,.full
    height:100%;

body
    background-color: postAndBackgroundColor
    color:textColorForBackgroundAndPost

//.dupeblock
//    background-color:rgb(81, 36, 208)
//    height:50px


.full
    .centerMe
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        max-height:75%

#postArea
    resize: vertical
    font-family: codeText
    background-color:postAndBackgroundColor
    color:textColorForBackgroundAndPost
    max-height:444px

#linguagens
    width:100%

.dropdown-menu
    width:100%

.visibleMe
    color black
    text-align right

.code
    font-family codeText
    border-radius 3px
    height 300px
    overflow auto
    background-color rgb(35, 36, 31)
