html,
body,
.full {
  height: 100%;
}
body {
  background-color: #002074;
  color: #e0f0ff;
}
.full .centerMe {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-height: 75%;
}
#postArea {
  resize: vertical;
  font-family: "Courier New", Courier, monospace;
  background-color: #002074;
  color: #e0f0ff;
  max-height: 444px;
}
#linguagens {
  width: 100%;
}
.dropdown-menu {
  width: 100%;
}
.visibleMe {
  color: #000;
  text-align: right;
}
.code {
  font-family: "Courier New", Courier, monospace;
  border-radius: 3px;
  height: 300px;
  overflow: auto;
}
