extends ../includes/layout

block content
    .container.full
        .row.full
            .col-12-md.col-12-lg.col-12-sm.col-12-xs.full.full2
                .panel.panel-primary.centerMe
                    .panel-heading
                        h3.panel-title Cole Aqui!
                    .panel-body
                        .form(role="form",method="post")
                            .form-group
                                textarea#postArea.form-control(rows="10")
                            .form-group
                                .dropdown
                                    button.btn.btn-default.dropdown-toggle(type="button", id="linguagens", data-toggle="dropdown", aria-expanded="true") Tipo de linguagem
                                        span.caret
                                    ul.dropdown-menu(role="menu", aria-labelledby="linguagens")
                                        li.dropdown-header(role="presentation") Normal
                                        li(role="presentation")
                                            a(role="menuitem", tabindex="-1" href="#") Texto Normal
                                        li.divider(role="presentation")
                                        li.dropdown-header(role="presentation") Codigo
                                        li.disabled(role="presentation")
                                            a(role="menuitem", tabindex="-1" href="#") C
                                        li.disabled(role="presentation")
                                            a(role="menuitem", tabindex="-1" href="#") C++
                                        li.disabled(role="presentation")
                                            a(role="menuitem", tabindex="-1" href="#") C#
                                        li.disabled(role="presentation")
                                            a(role="menuitem", tabindex="-1" href="#") F
                                        li.disabled(role="presentation")
                                            a(role="menuitem", tabindex="-1" href="#") Java
                                        li.disabled(role="presentation")
                                            a(role="menuitem", tabindex="-1" href="#") Javascript
                                        li.disabled(role="presentation")
                                            a(role="menuitem", tabindex="-1" href="#") Python
                                        li.disabled(role="presentation")
                                            a(role="menuitem", tabindex="-1" href="#") Ruby
                                        li.disabled(role="presentation")
                                            a(role="menuitem", tabindex="-1" href="#") Ruby on Rails
                                        li.disabled(role="presentation")
                                            a(role="menuitem", tabindex="-1" href="#") Visual Basic
                                        li.divider(role="presentation")
                                        li.dropdown-header(role="presentation") Marcação
                                        li.disabled(role="presentation")
                                            a(role="menuitem", tabindex="-1" href="#") CSS
                                        li.disabled(role="presentation")
                                            a(role="menuitem", tabindex="-1" href="#") HTML
                                        li.disabled(role="presentation")
                                            a(role="menuitem", tabindex="-1" href="#") Jade
                                        li.disabled(role="presentation")
                                            a(role="menuitem", tabindex="-1" href="#") SASS
                                        li.disabled(role="presentation")
                                            a(role="menuitem", tabindex="-1" href="#") Stylus
                            .form-group
                                input(type="submit", name="", value="Postar", class="form-control")
