link(href="img/faveicon.png", rel="shortcut icon", type="image/x-icon")
link(href="assets/normalize.css/normalize.css", rel="stylesheet")
link(href="assets/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="css/main.css", rel="stylesheet")
link(href="assets/highlightjs/styles/monokai_sublime.css", rel="stylesheet")
script(type="text/javascript", src="assets/highlightjs/highlight.pack.js")
