script(type="text/javascript", src= "assets/jquery/dist/jquery.min.js")
script(type="text/javascript", src= "assets/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript", src= "assets/angular/angular.min.js")
script(type="text/javascript", src= "assets/angular-route/angular-route.min.js")
script(type="text/javascript", src= "assets/angular-resource/angular-resource.min.js")
script(type="text/javascript", src= "scripts/main.js")
