div.full(ng-hide="showPaste")
    div.full(ng-include="'partials/main/paste'")
div.full(ng-show="showPaste")
    div.full(ng-include="'partials/main/pasted'")
h1 {{main.showPaste}}
h1 {{main.pasted}}
